.desktop-sidebar{
  background-color: var(--color3);
  text-align: left;
  overflow-x: hidden;
  overflow-y: auto;
  padding-top: 20px;
  height:calc(100vh - 57px);
}

.car-area-sidebar{
  height:calc(100vh - 57px - 50px - 30px);
  margin-bottom: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  margin-top:-20px;
}

.mobile{
  height:calc(100vh - 65px - 70px - 30px);
}