.main-desktop{
  height:calc(100vh - 57px);
  text-align: left;
  overflow-x: hidden;
  overflow-y: auto;
}

.main-mobile{
  height:calc(100vh - 65px);
  text-align: left;
  overflow-x: hidden;
  overflow-y: auto;
}

.delete-car-main{
  position: absolute;
  top:20px;
  right:20px;
}

.add-car-main{
  position: absolute;
  top:60px;
  right:17px;
}

.warning{
  color:#FFCC00
}

.item-button-main{
  float: left;
  margin-left: 15px;
  margin-bottom: 20px;
}