.desktop-topbar-title{
  font-family: 'Roboto', sans-serif;
}

.drawer-title{
  background-color:var(--color3);
  color:var(--color1);
  height:64px;
  margin-top:-20px;
}

.mobile-title{
  padding-top:15px;
}

.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-24{font-size: 30px;}